{% assign acknowledgement = site.data.data.acknowledgement %}
{% if acknowledgement %}
<section class="section acknowledgement-section" id="acknowledgement">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-address-book fa-stack-1x fa-inverse"></i>
    </span>
    {{ acknowledgement.title }}
  </h2>

  {% if acknowledgement.intro %}
  <div class="intro">
    {{ acknowledgement.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for ack in acknowledgement.links %}
  <div class="item">
    {% if ack.link %}
      <a href="{{ ack.link }}"><span class="bullet"></span><strong>{{ ack.title }}</strong></a>
    {% else %}
      <span class="bullet"></span><strong>{{ ack.title }}</strong>
    {% endif %}
    <div class="time">{{ ack.taglines }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
