{% assign publications = site.data.data.publications %}
{% assign coworkers = site.data.data.coworkers %}
{% if publications %}
<section class="section publications-section">

  <style>
    mark {
        padding: 1px 0;
        line-height: 1.5em;
    }
  </style>

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for publication in publications.papers %}
  <div class="item">
    {% if publication.link %}
      <a href="{{ publication.link }}"><span class="bullet"></span><strong>{{ publication.title }}</strong></a>
    {% else %}
      <span class="bullet"></span><strong>{{ publication.title }}</strong>
    {% endif %}
    <!-- <div class="publication-authors">{{ publication.authors }}</div> -->
    {% assign authors = publication.authors | split: "," %}
    {% for author in authors %}
      {% assign author_trim = author | strip %}
      {% assign author_plain = author_trim | replace: '<mark>', '' | replace: '</mark>', '' %}
      {% assign coworker = coworkers | where: "name", author_plain | first %}
      {% if coworker %}
        <a href="{{ coworker.link }}" target="_blank">{{ author_trim }}</a>
      {% else %}
        {{ author_trim }}
      {% endif %}
      {% unless forloop.last %}, {% endunless %}
    {% endfor %}
    <br>
    <div class="publication-conference">{{ publication.conference }}</div>
  </div><!--//item-->
{% endfor %}

</section><!--//section-->
{% endif %}
